.car-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 2rem 0;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: row;
        width: 918px;

        margin-bottom: 2rem;
        place-content: space-between;
    }

    &__title {
        font-size: 24px;
        color: #333;
    }

    &__filter {
        width: 220px;
        height: 35px;

        font-size: 14px;
        color: #333;
        border: 1px solid #999;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 918px;
    }
}

input[type=text] {
    padding-left: 1rem;
}

#spinner {
    display: flex;
    height: 85%;
    justify-content: center;
    align-items: center;

    &>img {
        width: 70px;
    }
}
