<script src="./header.js"></script>
<div class="header">
  <div class="header__content">
    <div class="header__logo">
      <img
        src="../../assets/car-shop-logo.png"
        alt="car-shop-logo"
        class="header__mb-logo"
      />
      <span class="header__mb-text">CarShop</span>
    </div>

    <div class="header__cart-content">
      <span id="cart-total">0,00</span> €
      <img
        src="../../assets/shoppingBag.png"
        alt="shopping-bag-icon"
        class="header__cart-icon"
      />
    </div>
  </div>
</div>
